<h1 class="text-center">Questions</h1>
<div class="text-center mb-3">
  <%= link_to 'New Question', new_question_path, class: 'btn btn-primary' %>
</div>
<table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Name</th>
      <th>Content</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @questions.each do |question|%>
    <tr>
      <td><%= question.id %></td>
      <td><%= question.title %></td>
      <td><%= question.name %></td>
      <td><%= question.content %></td>
      <td><%= link_to 'Show', question_path(question), class: 'btn btn-info' %></td>
      <td><%= link_to 'Edit', edit_question_path(question), class: 'btn btn-warning' %></td>
      <td><%= link_to 'Destroy', question_path(question), 
                data: {turbo_method: 'delete', turbo_confirm: 'Are you sure?'}, class: 'btn btn-danger' %></td>
    </tr>
    <% end %>
  </tbody>
</table>



<!--<h1>Questions</h1>-->
<!--<%= link_to 'new', new_question_path %>-->
<!--<table>-->
<!--  <tr>-->
<!--    <th>ID</th>-->
<!--    <th>Title</th>-->
<!--    <th>Name</th>-->
<!--    <th>Content</th>-->
<!--    <th></th>-->
<!--  </tr>-->
<!--  <% @questions.each do |question|%>-->
<!--  <tr>-->
<!--    <td><%= question.id %></td>-->
<!--    <td><%= question.title %></td>-->
<!--    <td><%= question.name %></td>-->
<!--    <td><%= question.content %></td>-->
<!--    <td><%= link_to 'show', question_path(question)%></td>-->
<!--    <td><%= link_to 'edit', edit_question_path(question)%></td>-->
<!--    <td><%= link_to 'destroy', question_path(question), data: {turbo_method: 'delete', turbo_confirm: 'Are you sure?'}%></td>-->
<!--  </tr>-->
<!--  <% end %>-->
<!--</table>-->